<#macro head>

</#macro>

<#macro body>
    <div class="footer">
        <div class="copyright">
        ©2021 Copyright: Javalin WebApp
        </div>
        <div class="version">
            version <span>${m_app_version}</span>
        </div>
    </div>
</#macro>