* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: rgb(47 34 110);
}

.content {
    margin: 1rem 1rem 1rem 1rem;
    max-height: calc(100% - 60px);
    position:relative;
}

.header .title {
    text-align: center;
    font-size: 2rem;
    color: rgb(255 255 255);
}

.footer {
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background-color: #efefef;
}

.footer .copyright {
    text-align: center;
    font-weight: lighter;
    padding-top: 0.7rem;
}

.footer .version {
    text-align: center;
    font-weight: lighter;
    font-size: small;
    margin-top: 0.2rem;
    color: rgba(0, 0, 0, 0.75)
}

.buttons {
    margin-bottom: 1rem;
    text-align: right;
}

i.action {
    cursor: pointer;
    margin-right: 1rem;
}

/* primevue */

.p-inputtext.p-error {
    border-color: #dc3545 !important;
}